# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea

out
*.ipr
*.iws
*.iml
.idea

# IDE
.vscode
.trae
.vs

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt

TACZ-1.1.7-hotfix2
bug
libs
libs-maven
other_codes
